<div class="container" style="margin-top: 100px;">
    <div class="d-flex justify-content-center h-50">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div style="margin-top: 10px;margin-bottom:-90px;">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="user"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="Nombre" required
                            formControlName="name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="user-plus"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" name="surname" placeholder="Apellido" required
                            formControlName="surname">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="calculator"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" name="rfc" placeholder="RFC" required
                            formControlName="rfc">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="mail-bulk"></fa-icon></span>
                        </div>
                        <input type="mail" class="form-control" name="mail" placeholder="Mail" required
                            formControlName="mail">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="key"></fa-icon></span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" required
                            formControlName="password">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><fa-icon icon="id-badge"></fa-icon></span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username" required
                            formControlName="username">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button"
                            class="btn login_btn">
                            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                            <span *ngIf="showLoading">Cargando...</span>
                            <span *ngIf="!showLoading">Registrar</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    ¿Ya tienes una cuenta? <a routerLink="/login" class="ml-2">&nbsp;Ingresa</a>
                </div>
            </div>
        </div>
    </div>
</div>