<br><br><br><br>
<p>product-image works!</p>
<div class="card-header" href="http://localhost:4200/producto/">
    <div class="btn-return">
        <i class="ph ph-arrow-circle-left"></i>
        Regresar
    </div>
</div>
<div class="card-body">
    <div class="row">


        <!-- Product image  -->
   
        <div class="col-md-4">
            <div class="card">

              <!-- image  -->

              <div class="card-body-product text-center">
                @if (product.gtin) {
                    <img src="{{ productImage.image }}" class="product-image">  
                }@else {
                    <img src="assets/product-default.png" class="product-image">  
                }
              </div>

              <!-- button  -->

              <div class="text-center">
                  <label for="uploadImage">
                      <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" class="d-none">
                      <div class="edit-product-image ">
                        <i class="ph ph-note-pencil icon-text-button"></i>
                        Editar imagen
                      </div>
                  </label>
              </div>
            </div>
        </div>

        <!-- product data  -->
   
        <div class="col-md-8">
            <div class="card">
                <div class="card-body-product">

                    <!-- product  -->

                    <div class="product-title">
                        {{ product.product }}
                    </div>

                    <table class="table">
                        <tbody> 
                            <!-- gtin  -->
                            <tr>
                                <th class="col-md-4">GTIN</th>
                                <td>{{ product.gtin }}</td>
                            </tr>
                               
                            <!-- Precio  -->
                            <tr>
                                <th class="col-md-4">Precio</th>
                                <td>{{ product.price }}</td>
                            </tr>
                               
                            <!-- Stock  -->
                            <tr>
                                <th class="col-md-4">Stock</th>
                                <td>{{ product.stock }}</td>
                            </tr>
                           
                            <!-- description  -->
                            <tr>
                                <th class="col-md-4">Descripcion del Producto</th>
                                <td>{{ product.description }}</td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- buttons  -->


                    <button type="button" class="btn btn-primary btn-edith">
                        <i class="ph ph-note-pencil"></i>
                        Editar
                    </button>


                    <button type="button" class="btn btn-danger btn-delete">
                        <i class="ph ph-trash"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
   
    </div>
</div>

