.card-body-customer{
    padding: 16px;
}


.customer-image{
    border-radius: 100%;
    width: 240px;
    height: 240px;
}


.edit-customer-image{
    color: blue;
    margin-bottom: 16px;
    cursor: pointer;
}


.customer-title{
    font-size: 32px;
    margin-bottom: 16px;
}


.btn-edith, .btn-delete{
    width: 140px;
    margin-right: 24px;
}
