<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>

  <!-- navbar  -->
<div class="navbar-content">
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home
          <span class="visually-hidden">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-sm-2" type="search" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
</nav>
</div>

  <!-- body content  -->

  <div class="body-content">
    <div class="card">
      <div class="card-header">
        <h4>Categorias</h4>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr class="table-dark">
              <th scope="col">categoryId</th>
              <th scope="col">category</th>
              <th scope="col">tag</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Norte</td>
              <td>N</td>
              <td>Activo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Sur</td>
              <td>S</td>
              <td>Activo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Noreste</td>
              <td>NE</td>
              <td>Inactivo</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Pacífico</td>
              <td>P</td>
              <td>Inactivo</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Oeste</td>
              <td>O</td>
              <td>Activo</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Sureste</td>
              <td>SE</td>
              <td>Inactivo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div style="text-align:center;padding:1em 0;"> <h4><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3530597"><span style="color:gray;">Hora actual en</span><br />Mexico City, México</a></h4> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FMexico_City" width="100%" height="90" frameborder="0" seamless></iframe> 
        </div>
      </div>
    </div>
  </div>

  <footer class="contact-info bg-dark text-white mt-4 p-4">
    <div class="container text-center">
      <p class="h5"><strong>Contacto:</strong></p>
      <p>
        <a href="https://github.com/JuanSosaCiencias" class="text-white" target="_blank">JSR_Mario</a> |
        <a href="https://github.com/JoshuaJc2" class="text-white" target="_blank">JoshuaJc2</a>
      </p>
      <p>Teléfono: +52 123 456 7890</p>
      <p class="privacy-notice">Aviso de Privacidad</p>
    </div>
  </footer>

</body>

<router-outlet />
