<header class="masterhead">
    <div class="cotainer px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="font-weight-bold">Shop</h1>
                <h1 class="divider"></h1>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="mb-5">
                    Un texto xd
                </p>
                <a href="#" class="btn btn-primary">find out more</a>
            </div>
        </div>
    </div>
</header>