/* navbar  */

.navbar{
    padding: 8px;
}

.navbar-content{
    max-width: 1280px;
    margin: auto;
  }

.nav-logo{
    width: 80px;
    height: 40px;

    margin-right: 20px;
    margin-left: 8px;
}

/* dropdown options  */

.nav-dropdown-menu{
    background-color: #2c3e50;
    border-radius: 0px;
    margin-top: 13px;
    border: none;
}

.nav-dropdown-item{
    color: white !important;
}

.nav-dropdown-item:hover{
    background-color: white;
    color: black !important;
}

/* dropdown user */

.nav-dropdown-menu-user{
    margin-top: 9px;
    left: -150%;
}

.i-nav{
    color: white;
    font-size: 28px;
    vertical-align: middle;
    margin-left: 16px;
}

.nav-link{ 
    cursor: pointer;
}

.nav-register{
    margin-left: 12px;
}

/* other  */

.app-login{
    padding: 32px 0px;
}

.search-by-product{
    width: 320px;
}

.i-search{
    margin-left: -16px; 
    margin-right: 16px;
}