<br><br><br><br>
<!-- body content  -->
<div class="body-content">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4 class="title-cat">Listado de Productos</h4>
        </div>
        <div class="col">
          <div class="botonDer">
            <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
              <i class="ph ph-plus-circle"></i>
              Agregar Producto
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD Body -->
    
    <div class="card-body">
      @if(products.length == 0){
        <div class="text-center table-empty">
            <h4>No cuentas con Productos Registrados</h4>
        </div>
      }@else {
      
        <!-- Tabla de productos -->

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Gtin</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Estatus</th>
                    <th>Más</th>
                </tr>
              </thead>
        <tbody>
            @for(product of products; track product.product_id; let i = $index ) {
                <tr>
                    <td>{{ product.product_id }}</td>
                    <td>{{ product.gtin }}</td>
                    <td>{{ product.product }}</td>
                    <td>{{ product.price }}</td>
                    <td> 
                        <div class="td-status" [ngClass]="{'td-status-enable': product.status == 1, 'td-status-disable': product.status == 0}" >
                        {{ product.status == 0 ? "Inactivo" : "Activo" }}
                        </div>
                    </td>
              <td>
                <div class="dropdown">
                  <!-- dots button  -->
                  <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                  </button>
  
                     <!-- menu options -->
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">
                      <i class="ph ph-note-pencil icon-text-ul"></i>Ver Detalles
                    </a>
                    @if (product.status != 0) {
                      <a class="dropdown-item disable-item" (click)="disableProduct(product.product_id)">
                        <i class="ph ph-x-circle icon-text-ul"></i>Desactiva
                      </a>
                    } @else {
                      <a class="dropdown-item enable-item" (click)="enableProduct(product.product_id)">
                        <i class="ph ph-check-circle icon-text-ul"></i>Activar
                      </a>
                    }
                  </div>
                </div>
              </td>
                  </tr>
                      }
        </tbody>
      </table>
    }
    </div>

    <!-- Modal form  -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- Product form  -->
            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            
                <div class="row">

                    <!-- gtin  -->
    
                    <div class="col-md-6">
                        <div class="mb-3">
                          <label for="gtin">GTIN <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="gtin" id="gtin" placeholder="Código GTIN del producto..." 
                              [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}" >
                          @if (form.controls['gtin'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un código gtin válido</small>
                          }
                        </div>
                    </div>
          
                    <!-- product  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="product">Producto <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="product" id="product" placeholder="Nombre del producto..." 
                              [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}" >
                          @if (form.controls['product'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un nombre de producto válido</small>
                          }
                        </div>
                    </div>
          
                    <!-- price  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="price">Precio <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="price" id="price" placeholder="Precio del producto..." 
                              [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}" >
                          @if (form.controls['price'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un precio válido</small>
                          }
                        </div>
                    </div>
          
                    <!-- stock  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="stock">Cantidad de productos <span class="color-red">*</span> </label>
                          <input type="text" class="form-control" formControlName="stock" id="stock" placeholder="Número de stock del producto..." 
                              [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}" >
                          @if (form.controls['stock'].errors && submitted) {
                            <small class="input-error-message">Favor de ingresar un número de stock válido</small>
                          }
                        </div>
                    </div>  
          
                    <!-- category_id  -->
          
                    <div class="col-md-6"> 
                        <div class="mb-3">
                          <label for="category_id">Categoría <span class="color-red">*</span> </label>
                          <select class="form-select" formControlName="category_id" id="category_id"
                              [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                            <option [ngValue]=null hidden>Selecciona una categoría...</option>
                            @for(category of categories; track category) {
                              <option [ngValue]="category.category_id">{{ category.category }}</option>
                            }
                          </select>
                          @if (form.controls['category_id'].errors && submitted) {
                            <small class="input-error-message">Favor de seleccionar válida</small>
                          }
                        </div>
                    </div>
          
                    <!-- description  -->
          
                    <div class="mb-3">
                      <label for="description">Descripción <span class="color-red">*</span> </label>
                      <textarea rows="2" class="form-control" formControlName="description" id="description" placeholder="Descripción del producto..." 
                        [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}" >
                      </textarea>
                      @if (form.controls['description'].errors && submitted) {
                        <small class="input-error-message">Favor de ingresar una descripción válida</small>
                      }
                    </div>
                </div>
      
                <!-- button  -->
                
                <div class="form-button">
                    <button type="submit" class="btn btn-primary btn-save">Guardar</button>
                  </div>
      
              </form>

        </div>
      </div>
    </div>
  </div>
  
       <div class="card-footer">
      <div style="text-align:center;padding:1em 0;"> <h4><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/es/city/3530597"><span style="color:gray;">Hora actual en</span><br />Mexico City, México</a></h4> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FMexico_City" width="100%" height="90" frameborder="0" seamless></iframe> 
      </div>
    </div>
</div>
  
<footer class="contact-info bg-dark text-white mt-4 p-4">
  <div class="container text-center">
    <p class="h5"><strong>Contacto:</strong></p>
    <p>
      <!-- <a href="https://github.com/JuanSosaCiencias" class="text-white" target="_blank">JSR_Mario</a> |-->
      <a href="https://github.com/JoshuaJc2" class="text-white" target="_blank">JoshuaJc2</a>
    </p>
    <p>Teléfono: +52 123 456 7890</p>
    <p class="privacy-notice">Aviso de Privacidad</p>
  </div>
</footer>
